$color-background: #000000;
$color-blocks: #222222;
$color-border: #363636;
$color-sub-border: #5c5c5c;
$color-yellow: #ffc857;
$color-yellow-focus: #ffd379;
$color-red: #db3a34;
$text-color: #ffffff;

* {
  padding: 0;
  margin: 0;
}

:root {
  font-size: 10px;
}

body {
  background-color: $color-background;
  color: $text-color;
}

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-yellow;
  color: $color-background;
  font-size: 4rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: relative;
}

.flex-column:first-child,
.flex-column:last-child {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-column:nth-child(2) {
  flex-grow: 1;
  height: 100%;
}

.global-cases,
.countries-list,
.map,
.countries-table,
.diagram {
  border: 1px solid $color-border;
  //background: grey;
  background-color: $color-blocks;
  position: relative;
}

.map {
  margin: 0 0.5rem;
}

.global-cases,
.countries-table {
  margin-bottom: 0.5rem;
}

.global-cases,
.countries-list,
.countries-table,
.diagram {
  max-width: 30rem;
  min-width: 28rem;
}

.global-cases {
  height: 5rem;
}

.diagram {
  height: 10rem;
}

.expand-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cbcbcb;
  position: absolute;
  border-radius: 50%;
  top: -1rem;
  right: -1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.expand-image {
  width: 1rem;
  height: 1rem;
}

.invisible {
  visibility: hidden;
}

.container:hover .expand-container {
  visibility: visible;
}

.expanded {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  height: 90vh;
  z-index: 3;
  margin: 0 0.5rem;
}
// © https://www.w3schools.com/howto/howto_css_switch
.toggle {
  display: flex;
  align-items: center;
  padding-top: 4px;

  &__description {
    padding-left: 8px;
    font-size: 1.5rem;
  }

  &__switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;

    input:checked + &__slider {
      background-color: $color-yellow;
    }

    input:focus + &__slider {
      box-shadow: 0 0 1px $color-yellow;
    }

    input:checked + &__slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    &__slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;

      &:before {
        position: absolute;
        content: '';
        height: 22px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }
    }
  }
}

.indicators {
  width: fit-content;
  padding: 1vw;
  min-width: 145px;
  margin: 3%;

  &__legend {
    font-size: 1.5rem;
  }
}

.criterion {
  width: 146px;
  height: 30px;
  cursor: pointer;
  background-color: $color-yellow;
}

.list-content {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}

.search {
  width: 100%;

  &__dropdown {
    position: relative;
    display: inline-block;
    width: inherit;

    &_button {
      width: inherit;
      background-color: $color-yellow;
      padding: 16px;
      font-size: 2rem;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      &:hover,
      &:focus {
        background-color: $color-yellow-focus;
      }
    }
    &_content {
      width: inherit;
      display: none;
      position: absolute;
      background-color: #f6f6f6;
      min-width: 230px;
      border: 1px solid #ddd;
      z-index: 1;
      max-height: 30vh;
      overflow: auto;

      &_show {
        display: block;
      }

      &__input {
        width: inherit;
        box-sizing: border-box;
        background-image: url('./../assets/icons/search-black-18dp.svg');
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 14px 20px 12px 45px;
        border: none;
        border-bottom: 1px solid #ddd;

        &:focus {
          outline: 3px solid #ddd;
        }
      }
      &__item {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 1.5rem;
        color: $color-background;

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }
}

.countries-all {
  border: 1px solid #000;
  height: 55vh;
  width: inherit;

  &__list {
    list-style: none;
    overflow: auto;
    height: inherit;

    &__item {
      line-height: 35px;
      display: flex;
      font-size: 1.5rem;
      border-bottom: 1px solid $color-sub-border;
      &:hover {
        background-color: $color-sub-border;
      }

      &__count {
        padding-left: 13%;
      }

      &__country {
        margin-left: 20%;
      }

      &__flag {
        margin-left: 7%;
      }
    }
  }
}

.covidData-container__item {
  font-size: 1.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(196, 192, 192);
}

.expanded .covidData-container__item {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background: #004134;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;
  z-index: 3;

  &__keys {
    text-align: center;
  }

  &--hidden {
    bottom: -100%;
  }

  &__key {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;

    &:active {
      background: rgba(255, 255, 255, 0.12);
    }

    &-active {
      background: rgba(255, 255, 255, 0.12);
    }

    &--wide {
      width: 12%;
    }

    &--extra-wide {
      width: 36%;
      max-width: 500px;
    }

    &--activatable::after {
      content: '';
      top: 10px;
      right: 10px;
      position: absolute;
      width: 8px;
      height: 8px;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 50%;
    }

    &--active::after {
      background: #08ff00;
    }

    &--dark {
      background: rgba(0, 0, 0, 0.25);
    }
  }
}
